/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap');

body {
  font-family: 'Noto Serif SC', serif;
  background-color: #fcfcfc;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 20px 20px;
  color: #1c1917;
}

/* Markdown Styles */
.markdown-body p { margin-bottom: 0.75em; }
.markdown-body ul { list-style-type: disc; margin-left: 1.5em; margin-bottom: 0.75em; }
.markdown-body ol { list-style-type: decimal; margin-left: 1.5em; margin-bottom: 0.75em; }
.markdown-body h1,
.markdown-body h2,
.markdown-body h3 { font-weight: bold; margin-top: 1em; margin-bottom: 0.5em; color: #44403c; }
.markdown-body strong { color: #78350f; font-weight: 700; }
.markdown-body blockquote { border-left: 4px solid #d6d3d1; padding-left: 1em; color: #57534e; font-style: italic; }
.markdown-body table { width: 100%; border-collapse: collapse; margin-bottom: 1em; font-size: 0.9em; }
.markdown-body th,
.markdown-body td { border: 1px solid #e7e5e4; padding: 6px; text-align: left; }
.markdown-body th { background-color: #f5f5f4; font-weight: bold; }

